.navbar {
    margin-bottom: 0px; !important;

}

.form {
    margin-right: 100px;
}

#watchlist {

}

.nav-link {
    margin-right: 5px; !important;
    color: #ffffff;
}

.btn {
    margin-top: 3px;
    color: red;
    background-color: white;

}

.btn-sm {
    margin-top: 3px;
    margin-right: 25px;
}

.container-fluid {
    background-color: #0A1016;
    height: 100%;
    min-height: 100vh;
    color: #9D9FA2;
}

.jumbotron {
    background-color: #0A1016;
    color: #FFFFFF;
    height: 100%;
    min-height: 100vh;
}

p {
    color: #9D9FA2;
}

.navbar-brand {
    padding-right: 10px;
    padding-left: 10px;

}


.welcome {
    display: flex;
    border: 2px solid black;
}

.watchlist {
    display: flex;
    margin: 20px;
    text-align: center;
}

.saved {
    display: flex;
    border: 2px solid black;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.search {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    flex-wrap: wrap;
}

#searchTitle{
    padding-right: 10px;
}

.movies {
    display: flex;
    border: 2px solid black;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#poster {
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    max-width: 170px;
    min-width: 170px;
    min-height: 300px;
}

#comPoster {
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    max-width: 170px;
    min-width: 170px;
    min-height: 300px;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;

}

img {
    max-height: 70px;
    max-width: 210px;
    min-width: 210px;
    min-height: 70px;
    padding: 10px;
    margin-left: -40px;
}
